{
	"extends": "airbnb-base",
    "plugins": [
        "react"
    ],
    {
      "parserOptions": {
        "ecmaFeatures": {
          "jsx": true
        }
      }
    },
	"rules": {
		"indent": ["error", "tab"],
		"no-tabs": "off",
		"comma-dangle": ["error", "always-multiline",
			{
				"functions": "never"
			}
		],
        "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]

	}
}
